﻿@inject GlobalAppState GlobalAppState

@if (GlobalAppState.State == LoadState.Loading)
{
	<p><em>Loading...</em></p>
	<Spin Size="large"/>
}
else if (RequiresAuth && GlobalAppState.State == LoadState.Authenticating)
{
	<p><em>Authenticating...</em></p>
	<Spin Size="large"/>
}
else if (RequiresAuth && GlobalAppState.State == LoadState.NotAuthenticated)
{
	<p><em>Not Authenticated.</em></p>
}
else if (!IsLoaded)
{
	<p><em>Retrieving data...@ProgressStr</em></p>
	<Spin Size="large"/>
}
else if (RequiresAuth && RequiresAdmin && !GlobalAppState.IsAdmin)
{
	<p><em>This page requires administrative priviliges.</em></p>
}
else
{
	@ChildContent
}