﻿@inject NavigationManager NavManager
@inject GlobalAppState GlobalAppState    

@implements IDisposable

<Select Placeholder="@Placeholder" Mode="Multiple" @bind-Values="@SelectedOptions" TItemValue="string" TItem="string" OnSelectedItemsChanged="InternalSelectionsChanged" HideSelected EnableSearch AllowClear>
	<SelectOptions>
		@foreach(var Option in AllOptions)
		{
			<SelectOption TItemValue="string" TItem="string" Value="@Option" Label="@Option"/>
		}
	</SelectOptions>
</Select>